{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!--Formulario de Ingreso -->
<div class="h-screen flex items-center justify-center">
    <div class="w-full md:w-1/2 flex justify-center items-center bg-white shadow-lg rounded-lg p-8">
        <div class="flex flex-col justify-center items-center menu">

            <div class="mb-5 text-center">
                <h3 class="text-4xl font-bold">Ingreso</h3>
            </div>
            
            <!-- Mensaje de error -->
            {% if error_message %}
                <div class="text-red-500 text-center mb-4">{{ error_message }}</div>
            {% endif %}

            <form method="POST" action="/login/">
                {% csrf_token %}
                <div class="my-5 w-10/12 space-y-2">
                    <div class="flex items-center gap-2 py-1 px-3 border bg-white hover:border-red-500">
                        <ion-icon name="person" class="text-xl"></ion-icon>
                        <input type="text" name="username" id="emailBox" placeholder="Usuario"
                            class="outline-none w-full">
                    </div>
                    
                    <div class="flex items-center gap-2 py-1 px-3 border bg-white hover:border-red-500">
                        <ion-icon name="key" class="text-xl"></ion-icon>
                        <input type="password" name="password" id="passBox" placeholder="Contraseña"
                            class="outline-none w-full">
                    </div>
                </div>

                <div class="my-5">
                    <button id="loginBtn" type="submit"
                    class="cursor-pointer bg-blue-800 py-1 px-14 text-white font-semibold uppercase hover:bg-blue-500">
                    Entrar
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Fin del Formulario de Ingreso -->
 {% if error_message %}
    <div class="text-red-500 text-center mb-4">{{ error_message }}</div>
{% endif %}


<script src="{% static 'js/script.js' %}" defer></script>

{% endblock %}
