{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="h-screen flex items-center justify-center">
    <div class="w-full md:w-1/2 flex justify-center items-center bg-white shadow-lg rounded-lg p-8">
        <div class="flex flex-col justify-center items-center menu">
            <div class="mb-5 text-center">
                <h3 class="text-4xl font-bold">Cambiar Contraseña</h3>
            </div>

            <!-- Formulario de Cambio de Contraseña -->
            <form id="updatePasswordForm" method="POST" class="w-10/12 space-y-4">
                {% csrf_token %}

                <div class="flex items-center gap-2 py-2 px-3 border rounded bg-white hover:border-red-500">
                    <ion-icon name="key" class="text-xl"></ion-icon>
                    <input type="password" id="oldPasswordBox" name="old_password" placeholder="Contraseña actual" class="outline-none w-full" required>
                </div>

                <div class="flex items-center gap-2 py-2 px-3 border rounded bg-white hover:border-red-500">
                    <ion-icon name="lock-closed" class="text-xl"></ion-icon>
                    <input type="password" id="newPasswordBox" name="new_password" placeholder="Nueva contraseña" class="outline-none w-full" required minlength="8">
                </div>

                <div class="flex items-center gap-2 py-2 px-3 border rounded bg-white hover:border-red-500">
                    <ion-icon name="lock-closed" class="text-xl"></ion-icon>
                    <input type="password" id="confirmPasswordBox" name="confirm_password" placeholder="Confirmar nueva contraseña" class="outline-none w-full" required minlength="8">
                </div>

                <!-- Mensaje de error -->
                {% if error_message %}
                    <div class="text-red-500 text-center">{{ error_message }}</div>
                {% endif %}

                <div class="flex justify-between items-center mt-5">
                    <button type="submit" id="updatePasswordBtn" class="cursor-pointer bg-blue-800 py-3 px-16 text-white font-semibold uppercase rounded hover:bg-blue-500">
                        Guardar
                    </button>
                    <a href="{% url 'cuentas:users' %}" class="cursor-pointer bg-gray-500 py-3 px-10 text-white font-semibold uppercase rounded hover:bg-gray-400">
                        Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/script.js' %}" defer></script>
{% endblock %}
